*{
    box-sizing: border-box;
}
.container{
   
    display: flex;
    justify-content: center;
    align-items: center;
   
}
.clock-box{
    height: 250px;
    width: 550px;
    position: absolute;
    top: 25%;
    left: 25%;
    background-color: #000;
    border-radius: 20px;
}
#showdate{
   height: 100px;
   display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.8rem;
    color: aqua;
}
#showtime{
    height: 130px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 6rem;
    color: white;
}